<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block (for future use) -->
<%# messages() %>

<!-- Inventory Items Display -->
<% if (grid) { %> <%- grid %> <% } else { %>
<p class="notice">Sorry, no matching vehicles could be found.</p>
<% } %>
