<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block (for future use) -->
<%# messages() %>

<!-- Vehicle Detail Display -->
<% if (detail) { %> <%- detail %> <% } else { %>
<p class="notice">Sorry, vehicle information could not be found.</p>
<% } %>
